@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="account">
        <div class="account__link">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="menu__text">Выйти</button>
            </form>
        </div>
    </div>
    <div class="account">
        <a class="account__link" href="/Identity/Account/Manage/Index">
            <img class="menu__img" src="~/assets/user.svg" width="24" alt="">
            <p class="menu__text">Настройки</p>
        </a>
    </div>
}
else
{
    <div class="account">
        <a class="account__link" href="/Identity/Account/Login">
            <img class="menu__img" src="~/assets/user.svg" width="24" alt="">
            <p class="menu__text">Войти</p>
        </a>
    </div>
}
