@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav class="menu__wrapper">
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link menu__link--active" data-type="0" href="#">
                <img class="menu__img" src="~/assets/allsub-icon.svg" width="24" alt="">
                <p class="menu__text">Все вместе</p>
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" data-type="1" href="#">
                <img class="menu__img" src="~/assets/service=youtube.svg" width="24" alt="">
                <p class="menu__text">Youtube</p>
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" data-type="2" href="#">
                <img class="menu__img" src="~/assets/service=vk.svg" width="24" alt="">
                <p class="menu__text">VK Video</p>
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link menu__link--disabled">
                <img class="menu__img" src="~/assets/service=Telegram.svg" width="24" alt="">
                <p class="menu__text">Telegram</p>
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link menu__link--disabled">
                <img class="menu__img" src="~/assets/service=rutube.svg" width="24" alt="">
                <p class="menu__text">Rutube</p>
            </a>
        </li>
        
    </ul>
</nav>
