@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model AllSub.WebMVC.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Поиск";
}

@section heads {
    <!-- Yandex.RTB 
    <script>window.yaContextCb = window.yaContextCb || []</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>-->
}

<header class="header">
    <form id="searchForm" class="search-form">
        <button class="search-form__submit" type="submit"><img src="~/assets/magnifying-glass.svg" alt="Поиск"></button>
        <button class="search-form__reset" type="reset"><img src="~/assets/x-close.svg" alt="Очистить"></button>
        <input id="searchFormInput" class="search-form__input" type="text" inputmode="search" placeholder="Поиск видео по VK и Youtube">
    </form>
    <div class="service-account"></div>
</header>

<aside class="aside">
    <div class="aside__header">
        <span class="logo">
            <img src="~/assets/all-sub-text.png" width="64" alt="Allsub">
        </span>
    </div>
    <div class="aside__main">
        <partial name="_MenuPartial" />
    </div>
    <div class="aside__footer">
        <partial name="_LoginPartial" />
    </div>
</aside>

<main class="main">
    <ul id="searchList" class="grid">
    </ul>
    <div class="button_box">
            <button id="load-more" style="display:none"><img src="~/assets/magnifying-glass.svg" alt="Поиск"> Загрузить еще</button>
    </div>
</main>

<!-- Yandex.RTB R-A-2418035-1 
<div style="margin-left:100px" id="yandex_rtb_R-A-2418035-1"></div>
<script>
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            "blockId": "R-A-2418035-1",
            "renderTo": "yandex_rtb_R-A-2418035-1"
        })
    })
</script>-->

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/search.js"></script>
}
